In [12]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({"Country":["CN","AU","AU","AU"],"Name":["Nancy","Henry","Anthony","Benita"],"Age":[41,7,40,11],"Sex":["Female","Male","Male","Female"]})
df

  Country     Name  Age     Sex
0      CN    Nancy   41  Female
1      AU    Henry    7    Male
2      AU  Anthony   40    Male
3      AU   Benita   11  Female

In [11]:
pd.crosstab(df.Country,df.Sex,margins=True)

Sex      Female  Male  All
Country
AU            1     2    3
CN            1     0    1
All           2     2    4

In [13]:
pd.crosstab(df.Country,df.Sex,normalize="index")

Sex        Female      Male
Country
AU       0.333333  0.666667
CN       1.000000  0.000000

In [14]:
pd.crosstab(df.Country,df.Sex,values=df.Age,aggfunc=np.average)

Sex      Female  Male
Country
AU         11.0  23.5
CN         41.0   NaN